body {
    margin: 0;
    padding: 0;
    background-color: #242322;
}
.header-footer{
    text-align:center;
    margin:0;
    padding:20px;
    background-color: #242322;
    
    
}
.featureButtonContainer{
  display:flex;
  justify-content:center;
  align-items:center;
}
.grid-container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    background-color: #F8F8F8;
    padding: 50px;
    border:1px;
    place-self: center center;    
}

.playlist-cards{
    
  background-color: #3c3d3c;
    border: 0px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    font-size: 15px;
    text-align: center;
    margin: 10px;
    border-radius:10px;
    width:300px;
    height: 450px;
    place-self: center center;  
    box-shadow: 0px 0px 5px #bef7d2;
}
.playlist-cards img{
    width:300px;
    border-radius: 10px; 
}
p{
    text-align: left;
    padding-left:20px;
    color:white;
    font-size: 15px;
    font-family: Verdana;
}
.playlist-cards:hover {
    box-shadow:15px 9px 9px;
    transform: scale(1.05) rotate(-1deg);

  }
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
    justify-content: center;
  }
  
  .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Ensure all items are centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Responsive width */
    height:1450px;
    max-width: 700px; /* Maximum width */
    border-radius: 10px;
    background-color: #242322;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
}
  
  
  
  

.modal-content img {
  width: 100%; /* Responsive image width */
  max-width: 150px; /* Maximum image width */
  margin-top: 20px;
  border-radius: 10%;
}
.modal-content h2, .modal-content p {
  color: white; /* Ensures text is visible on dark background */
  text-align: center; /* Centers the text */
}
.song-boxes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%; /* Full width to use the available space */
}
.song-box {
  background-color: #3c3d3c;
  border-radius: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between; /* Aligns items on both ends */
  align-items: center;
  width: 100%; /* Full width for consistency */
}
  
  .song-box p {
    margin: 50px;
    font-size: 18px;
    color: white;
    
  }
  
  .song-box:hover {
    transform: scale(1.05) ;

  }
  .like-container {
    display: flex;
    align-items: center;
    gap: 5px;  /* Optional: adds space between the like button and the emoji */
}
.like-container p, .like-container div {
    margin: 0;  /* Removes default margin to keep elements close together */
    padding: 0; /* Removes default padding */
}
 form{
  display:flex;
  align-items: center;
  flex-direction: column;
  border:2px solid;
  margin:15px auto;
  max-width:300px;
  padding:20px;
 }


/* CSS */
.close-btn, .close, .edit-btn{
  background-color: #c2fbd7;
  border-radius: 100px;
  box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
  color: green;
  cursor: pointer;
  display: inline-block;
  font-family: CerebriSans-Regular,-apple-system,system-ui,Roboto,sans-serif;
  padding: 7px 20px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin:5px
}

.close-btn:hover{
  box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}
form{
  color:white;
}